
/* THE BIG GUYS */
* {margin:0;padding:0}
body {padding: 0 0 20px;background: #fff;color:#333;font:83%/1.5 arial,tahoma,verdana,sans-serif}

/* LINKS */
a,a:link,a:link,a:link,a:hover {background:transparent;text-decoration:underline;cursor:pointer} 
a:link {color:#000} 
a:visited {color:#999} 
a:hover,a:active {color:#069} 

/* TYPOGRAPHY */
p, ul, ol {margin: 0 0 1.5em}
h1, h2, h3, h4, h5 {letter-spacing: -1px;font-family: arial,verdana,sans-serif;margin: 1.2em 0 .6em;color:#000;border-bottom: 1px solid #aaa;padding-bottom: .1em; clear:both}
h1 {font-size: 196%;margin-top:.6em}
h2 {font-size: 136%}
h3 {font-size: 126%}
h4 {font-size: 116%}
h5 {font-size: 106%}
h6 {font-size: 96%}

.withmargin {margin-left: 1.5em}

.highlight {color:#E17000}
.subdued {color:#999}
.error {color:#000;font-weight:bold}
.success {color:#390;font-weight:bold}
.caption {color:#999;font-size:11px}
.date {font: bold 82% arial;color:#bbb;display:block;letter-spacing: 1px}
small {font-size:11px}

/* LISTS */
ul {margin: .3em 0 1.5em 0;list-style-type:none}
	ul.related {margin-top: -1em}
ol {margin: .5em .5em 1.5em}
ol li {margin-left: 1.4em;margin-top: 1em;padding-left: 0;background: none; list-style-type: decimal}
li {line-height: 1.4em;padding-left: 25px;background: transparent url("images/sprites.gif") no-repeat 0 0}
li.doc {background-position: 3px -500px}
ul.nomarker li {background:none;padding-left:0}

dl {margin: 0 0 1em 0}
dt {font-weight:bold;margin-top: 1.3em}
dl dl {margin: 0 0 1.5em 30px}

/* GENERAL */
img {border:none} 
hr {margin: 1em 0;background:#ffffff;height:1px;color:#ffffff;border:none;clear:both}
.clear {clear:both;position:relative;font-size:0px;height:0px;line-height:0px} 

#googlebox {float: right; padding: 15px 15px 15px 15px}

/* LAYOUT - HEADER */
#header {background: #6464ff url("images/sprites.gif") repeat-x 0 100%;margin: 0 0 25px;padding: 0 0 8px;z-index:999}

	#header #site-name {font: 145% arial;letter-spacing: -.05em;margin:0 0 0 40px;padding:3px 0;color:#ffff00;border:none}
	
	/* NAV - top horizontal nav */
	#nav, #nav ul {padding: 0;margin: 0;list-style: none}
	#nav {font-weight:bold;height:2.09em;font: bold 96% arial;margin: 0 105px 0 40px}
	#nav li {position:relative;background: #fff;float: left;width: 10em;display:block;margin: 0;border-bottom: 3px solid #666;border-right: 3px solid #252525;padding:0}
	#nav a, #nav a:link, #nav a:visited, #nav a:hover, #nav a:active  {text-decoration:none;cursor:pointer;color:#000;display: block;padding: 4px 10px 2px}
	#nav a:hover {color:#000;text-decoration:underline}
	
	#nav li ul {border-left: 1px solid #000;background: #f6f6f6 ;width:24.8em;font-size:70%;margin-top:1px;position: absolute;font-weight:normal;left: -999em}
	#nav li:hover ul, #nav li.sfhover ul {left: 0;z-index:999}
	
	#nav li li {background:none;float:none;border:none;border: 1px solid #999;border-top:1px solid #fff;border-right:none;border-left:none;padding-left:0}
	#nav li li.last {}
	#nav li li a, #nav li li a:link, #nav li li a:visited, #nav li li a:hover {color:#000;padding: 3px 10px 2px;width:24em}
	#nav li li a:hover {color:#fff;background:#000}
	
	#nav li.active {background: #000;border-bottom: 3px solid #000}
	#nav li.active ul {border:none;background: #000 }
	#nav li.active a:link, #nav li.active a:visited, #nav li.active a:hover, #nav li.active a:active {color:#fff}
	#nav li.active a:hover {color:#fff}
	
	#nav li.active li {border:none;border-top: 1px solid #ffffff;border-bottom: 1px solid #ffffff}
	#nav li.active li.last {border-bottom: none; border-bottom: 1px solid #870000}
	#nav li.active li a:link, #nav li.active li a:visited, #nav li.active li a:hover, #nav li.active li a:active {color:#fff}
	#nav li.active li a:hover {background: #666 url("images/sprites.gif") repeat-x 0 99%;color:#fff}
	
	#nav li.active li.active a:link, #nav li.active li.active a:visited, #nav li.active li.active a:hover, #nav li.active li.active a:active {color:#fff;font-weight:bold;background: #666 url("images/sprites.gif") repeat-x 0 99%} 


	/* hide from IE mac \*/
	#nav li {width:auto}
	/* end hiding from IE5 mac */







	
	/* SEARCH */
	#search {color:#fff;font-weight:bold;position:absolute;top:25px;right:110px;left:auto;width:18em}
	#search form {margin:0}
	#search input {width:8em;margin: 0 0 -1px;height:1.2em}
	#search label {padding:5px 0 0;display:inline}
	#search input.f-submit {width:auto;font-size:81%;margin:0 0 -.15em;height:1.95em}
	
	/* POWERED BY - mollio logo in this case */
	#poweredby {width:96px;height:63px;position:absolute;top:-102px;right:0}

/* LAYOUT - main body of page */
/* max-width workaround for IE: http://www.svendtofte.com/code/max_width_in_ie/ */
#wrap {min-width:800px;max-width:1000px;margin: 0 auto;position:relative; width:expression(document.body.clientWidth > 1000? "1000px": "auto" );}

#content-wrap {position:relative;width:100%;width:expression(document.body.clientWidth > 1000? "1000px": "auto" );}
	#utility {position:absolute;top:0;left:25px;width:165px;border-top: 5px solid #999;padding-bottom: 40px}
	#sidebar {position:absolute;top:0;right:25px;width:200px;border-top: 5px solid #999;padding-top: 1px;padding-bottom: 40px}

#content {margin: 0 50px}
	#content #breadcrumb {margin-top:-5px;font-size:93%;font-weight:bold}
	#content #breadcrumb a:link, #content #breadcrumb a:visited {text-decoration:none; color: #0000ff}
	#content #breadcrumb a:hover, #content #breadcrumb a:active {text-decoration:underline}
	
	.featurebox {color:#333;padding: 15px 20px 20px;border-top: 1px solid #d7d7d7;margin: 0 0 1.5em;background: #f6f6f6 url("images/featurebox_bg.gif") no-repeat 100% 100%}
	.featurebox p, .featurebox h1, .featurebox h2, .featurebox h3, .featurebox h4, .featurebox h5, .featurebox h6 {margin: 0 0 .3em;border-bottom: 1px solid #000;color:#000}
	.featurebox p {border:none;margin: 0 0 1em;color:#444}
	.featurebox a {font-weight:bold}

	.thumbnail {margin: 0 0 0 10px;position:relative;z-index:9999;border: 1px solid #eee;float:right;width:100px;padding:5px;background:#fff}
	.thumbnail img {border: 1px solid #000}
	
	#resultslist-wrap {margin: 0 0 1.5em;font-size:92%}
	#resultslist-wrap dt, #resultslist-wrap dl {margin: 0}
	#resultslist-wrap dt {font: bold 85% arial;padding: 3px 0}
	#resultslist-wrap li {padding: 0 0 1em;margin:0 0 0 1.2em;font: bold 145% arial}
	#resultslist-wrap li dd {font: normal 73% arial}
	#resultslist-wrap li dl {margin:0}
	#resultslist-wrap dd {line-height:1.3}
	#resultslist-wrap dd.filetype, #resultslist-wrap dd.date {color:#999;display:inline;padding-right:.5em}

	#featurelist {width: 700px; margin-bottom: 15px} 
	#featurelist li {width:220px; float: left; margin: 0.5em}
	#featurelist img {border:none; float: left; margin: 0px 10px}
	#featurelist h6 {font-size: 115%;letter-spacing: -1px;font-family: arial,verdana,sans-serif;margin: 0em 0 .1em 0;color:#000;}

	#illus {width: 610px}
	#illus hr {margin: 1em 0;background:#aaaaaa;height:1px;color:#aaaaaa;border:none;clear:both}	
	
	/* TABLES */
	.table1 {border: 2px solid #900;border-collapse:collapse;width:100%}
		.table1 td {background: #fff url("images/sprites.gif") repeat-x 0 -1600px;padding:3px;border: 1px solid #fff}
		.table1 th {text-align:left;border: 1px solid #fff}
		.table1 thead th {color:#fff;font-size:145%;background: #900 url("images/sprites.gif") repeat-x 0 -1300px;padding: 10px 6px}
		.table1 tbody th {color:#fff;font-size:115%;background: #88b8db url("images/sprites.gif") repeat-x 0 -1400px;padding: 6px}
		.table1 tbody th.sub {font-size:100%;color:#000;background: #efefef url("images/sprites.gif") repeat-x 0 -1500px;padding: 6px}


/* LAYOUT TYPE D */
	#type-d #content {margin: 0 250px 0 30px}


/* LAYOUT - FOOTER */
#footer {clear:both;border-top: 1px solid #E3E8EE;padding: 10px 0 30px;font-size:86%;color:#999}
	#footer p {margin:0}
	#footer a:link {color:#999}



